.main-content {
  flex: 1;
  padding-bottom: 80px;
  /* Space for the floating cart */
  overflow-y: auto;
}

/* Header */
.app-header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #6B21A8;
  color: white;
  align-items: center;
}